/* impostazioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #a3a3a3;
}

h2, h3 {
    color: white;
}
/* debug */
h2 {
    height: 60px;
    background-color: yellow;
}

h4 {
    height: 40px;
    background-color: cornflowerblue;
}


/* wrapper */
#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

/* menù latrale */
#wrapper aside {
    width: 250px;
    height: 100%;
    background-color: black;
    padding: 20px;
}

#logo {
    width: 70%;
    margin-bottom: 10px;
}

#side-nav li {
    list-style-type: none;
    margin: 10px 0;
}

#side-nav li a {
    display: flex;
    align-items: center;
}

#side-nav li img {
    width: 28px;
    margin-right: 5px;
}

/* sezione playlist */
#playlist {
    margin-top: 20px;
}

#new-playlist {
    display: flex;
    align-items: center;
}

#new-playlist .fa-plus {
    background-color: #a3a3a3;
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#playlist li {
    list-style: none;
    margin: 15px 0;
}

/* installa app */
#app-install {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 10px;
}

#app-install img {
    width: 20px;
    margin-right: 10px;
}

/* utente */
#user {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#user img {
    height: 28px;
    width: 28px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 20px;
}

/* contenuto centrale */
#wrapper main {
    width: calc(100vw - 250px);
    height: 100%;
    background-color: #141922;
    padding-top: 100px;
    overflow-y: scroll;
}

/* barra fissa in alto con pulsante upgrade */
#upgrade {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

#upgrade a {
    border: solid 1px white;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

/* menù navigazione centrale */
#main-nav {
    text-align: center;
}

#main-nav li {
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* impostazioni sezioni */
#wrapper main .type {
    /* debug */
    background-color: slateblue;
    width: 100%;
    margin-top: 20px;
}


#wrapper main .type .card {
    float: left;
    /* debug */
    background-color: tomato;
    height: 200px;
    width: 200px;
    border: solid 1px black;
}

/* barra inferiore con player */
#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
}

/* brano in riproduzione */
#player #song {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 100px;
}

/* controlli principali riproduzione */
#player #controls {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 300px;
}

/* controllo volume e coda riproduzione */
#player #volume {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 100px;
}