/* impostazioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* debug */
h2 {
    height: 60px;
    background-color: yellow;
}

h4 {
    height: 40px;
    background-color: cornflowerblue;
}


/* wrapper */
#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

/* menù latrale */
#wrapper aside {
    width: 250px;
    height: 100%;
    background-color: black;
    padding: 10px;
}

#wrapper aside #side-nav {
    /* debug */
    background-color: blueviolet;
    height: 200px;
}

/* sezione playlist */
#wrapper aside #playlist {
    /* debug */
    background-color: chartreuse;    
    height: calc(100% - 200px - 80px);
}

/* utente */
#wrapper aside #user {
    /* debug */
    background-color: blueviolet;
    height: 80px;    
}
/* contenuto centrale */
#wrapper main {
    width: calc(100vw - 250px);
    height: 100%;
    background-color: #141922;
    padding-top: 100px;
    overflow-y: scroll;
}

/* barra fissa in alto con pulsante upgrade */
#wrapper main #upgrade {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
}

/* menù navigazione centrale */
#wrapper main #main-nav {
    /* debug */
    height: 60px;
    background-color: seagreen;
}

/* impostazioni sezioni */
#wrapper main .type {
    /* debug */
    background-color: slateblue;
    height: 300px;
    width: 100%;
    margin-top: 20px;
}


#wrapper main .type .card {
    float: left;
    /* debug */
    background-color: tomato;
    height: 200px;
    width: 200px;
    border: solid 1px black;
}

/* barra inferiore con player */
#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
}

/* brano in riproduzione */
#player #song {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 100px;
}

/* controlli principali riproduzione */
#player #controls {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 300px;
}

/* controllo volume e coda riproduzione */
#player #volume {
    /* debug */
    background-color: chocolate;
    height: 80px;
    width: 100px;
}